.tweet-sub-btn {
  position: relative;
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
  background-color: #2ec8fa;
  border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s ease;
}

.tweet-sub-btn:hover {
  color: #fff;
}
.tweet-sub-btn i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 11px;
  background-image: url("http://andreasstorm.com/lib/tweet.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 144px 11px;
}
.tweet-sub-btn span {
  position: relative;
  left: -2px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1rem;
}
.tweet-sub-btn:hover {
  background-color: #21a5d0;
}
.tweet-sub-btn:hover i {
  animation: tweet-sub-btn 0.6s steps(7) infinite;
}

.cell {
  vertical-align: middle;
  text-align: center;
}
@-moz-keyframes tweet-sub-btn {
  100% {
    background-position: -126px 0;
  }
}
@-webkit-keyframes tweet-sub-btn {
  100% {
    background-position: -126px 0;
  }
}
@-o-keyframes tweet-sub-btn {
  100% {
    background-position: -126px 0;
  }
}
@keyframes tweet-sub-btn {
  100% {
    background-position: -126px 0;
  }
}
